<%= form_for @boot, :html => { :class => "form-horizontal boot" } do |f| %>

  <% if @boot.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@boot.errors.count, "error") %> prohibited this boot from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @boot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :color, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :color, :class => 'form-control' %>
    </div>
    <%=f.error_span(:color) %>
  </div>
  <div class="form-group">
    <%= f.label :style, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :style, :class => 'form-control' %>
    </div>
    <%=f.error_span(:style) %>
  </div>
  <div class="form-group">
    <%= f.label :gender, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :gender, :class => 'form-control' %>
    </div>
    <%=f.error_span(:gender) %>
  </div>
  <div class="form-group">
    <%= f.label :size, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :size, :class => 'form-control' %>
    </div>
    <%=f.error_span(:size) %>
  </div>
  <div class="form-group">
    <%= f.label :clay_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :clay_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:clay_type) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                boots_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
