<p id="notice"><%= notice %></p>

<h1>Boots</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>Style</th>
      <th>Gender</th>
      <th>Size</th>
      <th>Clay type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boots.each do |boot| %>
      <tr>
        <td><%= boot.color %></td>
        <td><%= boot.style %></td>
        <td><%= boot.gender %></td>
        <td><%= boot.size %></td>
        <td><%= boot.clay_type %></td>
        <td><%= link_to 'Show', boot %></td>
        <td><%= link_to 'Edit', edit_boot_path(boot) %></td>
        <td><%= link_to 'Destroy', boot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boot', new_boot_path %>
